body {
  max-width: 320px;
  margin: auto;
  background: #ddd;
}

img {
  display: block;
  max-width: 100%;
}

header {
  background: url(../img/bg_header.png);
  padding: 30px;
  font-family: 'Space Grotesk', sans-serif;
}

.box-title {
  background: black;
  padding: 10px 30px;
  margin-bottom: 30px;
  color: white;
}

.slogan {
  text-align: center;
}



.cta {
  background: black;
  color: white;
  margin: 15px;
  Padding: 15px 30px;
  border-radius: 20px;
  text-decoration: none;
}

.cta-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cta-light {
  color: black;
  background: white;
}








